/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* components */
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/footer.css");
@import url("components/card.css");

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  background-color: #77625C;
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container.outer h1 {
  text-align: center;
  color: #551A8B;
}
.container.features {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin: 20px;
}
